* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.events-container {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 40px;
  justify-content: center;
  text-align: center;
}

.ec {
  width: 100%;
  display: flex;
  justify-content: center;
}

.events {
  display: flex;
  width: 80%;
  justify-content: center;
  flex-wrap: wrap;
  
}

/* Default styles for larger screens */
.events .event {
  width: 50%;
  height: 200px;
  flex-grow: 1;
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.events .event img {
  width: 200px;
  height: 200px;
  border-radius: 100px;
}

/* Media query for screens 1766px or smaller */
@media (max-width: 1766px) {
  .events .event {
    width: 35%;
    height: 300px; /* Decrease height for smaller screens */
  }
}

/* Media query for screens 1024px or smaller */
@media (max-width: 1024px) {
  .events .event {
    width: 90%; /* Full width on smaller screens */
    height: 800px; /* Adjust height further */
  }
}

/* Media query for screens 768px or smaller (tablet size) */
@media (max-width: 768px) {
  .events .event {
    width: 90%; /* Full width */
    height: 200px; /* Further height reduction */
  }
}

/* Media query for screens 480px or smaller (mobile size) */
@media (max-width: 480px) {
  .events .event {
    width: 100%;
    height: 700px; /* Smaller height for mobile */
  }
}